<div class="signup-container">
	<h2>Sign Up</h2>
	<form (ngSubmit)="onSubmit()" #signupForm="ngForm">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" id="username" [(ngModel)]="user.username" name="username" required />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" [(ngModel)]="user.password" name="password" required />
		</div>
		<div class="form-group">
			<label for="password_confirmation">Confirm Password</label>
			<input
				type="password"
				id="password_confirmation"
				[(ngModel)]="user.password_confirmation"
				name="password_confirmation"
				required
			/>
		</div>
		<button type="submit" class="btn" [disabled]="!signupForm.valid">Sign Up</button>
	</form>
</div>
